.app-wrapper {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(67deg, rgb(155, 155, 240), rgb(101, 101, 223));
  padding-top: 4rem;
}

.container {
  width: 40%;
  margin: 0 auto;
  border: rgb(173, 171, 171);
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
  transition: width 0.5s;
}

.editor {
  width: 100%;
}

.heading {
  height: 2rem;
  padding: 0.3rem;
  background: linear-gradient(rgb(198, 230, 198), rgb(168, 214, 168));
  border-bottom: rgb(202, 197, 197);
  position: relative;
}

.editor_editing-field {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.editor__text-area {
  width: 100%;
  min-height: 30vh;
  resize: vertical;
}

.fullscreen-icon-container {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
}

.fullscreen-icon {
  font-size: 1.5rem;
  transition: all 0.3s;
}

.fullscreen-icon:hover {
  color: rgb(73, 66, 66);
}

/* Preview Section */

.preview-section {
  width: 60%;
  min-height: 20vh;
  margin-top: 3rem;
  background: rgb(250, 252, 252);
}

.preview-container {
  padding: 0.5rem 1rem 1rem 1rem;
}


.enlarged {
  position: fixed;
  width: 95%;
  top: 1.5rem;
  left: 2rem;
  z-index: 10;
}